.container-card {
  display: block;
  width: 100%;
  max-width: 1128px; /* Максимальная ширина контейнера */
  padding: 24px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(45, 45, 44);
  margin: 40px auto;
}

.container-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.container-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-card ul li {
  margin-bottom: 8px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.container-card .btn-reg {
  display: block;
  width: 100%;
  background-color: #ff4d4d;
  color: white;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 16px;
}

.btn-reg:hover {
  background-color: #ff3333;
}

.btn-overview {
  display: block;
  width: 100%;
  background-color: lightgray;
  color: white;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 16px;
}

.btn-overview:hover {
  background: linear-gradient(to right, #ffa500, #ff69b4, #87ceeb);
}

.check {
  fill: green;
  background-color: lightgreen;
  border-radius: 50%;
}

.cross {
  fill: red;
  background-color: lightcoral;
  border-radius: 50%;
}
