.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background-color: #1d1028;
  transition: background-color 0.4s linear;
  color: #fff;
}

.hdr-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  @media only screen and (min-width: 768px) {
  }
  @media only screen and (min-width: 1280px) {
    width: 1100px;
  }
}

.header-logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-logo img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  @media only screen and (min-width: 768px) {
    width: 100px;
    height: 100px;
  }
}

.header-nav {
  display: none;
  flex-direction: row;
  @media only screen and (min-width: 768px) {
    display: flex;
  }
}

.header-nav--active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background: none;
  border: none;
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.burger-line {
  width: 25px;
  height: 3px;
  background: linear-gradient(to right, #ffa500, #ff69b4, #87ceeb);
}

.header-nav-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  @media only screen and (min-width: 1280px) {
    gap: 15px;
  }
}

.header-nav-list li {
  list-style: none;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.header-nav-list a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  color: #c77dff;

  @media only screen and (min-width: 1280px) {
    font-size: 1.5rem;
  }
}

.header-nav-list li:hover {
  transform: scale(1.1);
}

.game-provider-table {
  color: white;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  @media only screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.game-provider-table th,
.game-provider-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.game-provider-table th {
  background: linear-gradient(to right, #ffa500, #ff69b4, #87ceeb);
}

.sec-two-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-img {
  border-radius: 50px;
  margin-bottom: 20px;
}

.sec-two-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  @media only screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}
